.h-primary{
    font-size: 2.4rem;
    padding: 16px -5px;
}
#home p{
    font-size: 0.90rem;
}
#home::before{
    height: 335px;
}
.btn{
    padding: 7px 20px;
    margin: 25px;
    font-size: 1.2rem;
}